body {
  margin: 0;
  justify-content: center;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to top right, #74ebd5, #9face6);
  min-height: 100vh;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 30px;
  color: #ffffff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

form {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  gap: 10px;
}

input[type="text"] {
  padding: 10px;
  width: 250px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
}

button:hover {
  background-color: #003280;
}

.weather-card {
  background: white;
  border-radius: 12px;
  box-shadow: 13px -11px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  color: black;
}

.weather-card h2 {
  margin: 0 0 10px;
}

.weather-card p {
  margin: 5px 0;
  font-size: 16px;
}

.weather-card img {
  width: 80px;
  height: 80px;
}
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.sidebar-climas {
  background-color: #4184c7;
  padding: 15px;
  border-radius: 15px;
  width: 230px;
  box-shadow: 0 0 10px #1f1919;
}
}

.sidebar-climas h3 {
  margin-bottom: 10px;
  font-size: 1.1rem;
}

.sidebar-climas ul {
  list-style: none;
  padding: 0;
}

.mini-card {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  text-align: center;
}

.mini-card img {
  width: 40px;
}

.mini-card h4 {
  margin: 0;
}

.estado {
  font-size: 0.85rem;
  color: #555;
  text-transform: capitalize;
}


.home-layout {
  display: flex;
  gap: 30px;
  padding: 20px;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap; 
}

@media (max-width: 768px) {
  .home-layout {
    flex-direction: column;
    align-items: center;
  }
}
